.board-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 35%;
    width: 35%;
  }
  
.boards-place {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subs-to-place {
  margin-top: -1rem;
  font: inherit;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 0;
}

li:first-child {
  font-weight: bold
}
