

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font: 1rem 'Montserrat', sans-serif;
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

p {
  margin-bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap ;
  flex: 1 1 100%;
}

.button-selectors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}


.status {
  margin-bottom: 10px;
}

